{% extends 'base.html.twig' %}

{% block title %}Hello SpaController!{% endblock %}
{% block head %}


    <meta charset="UTF-8">
    <title>SPA Vue</title>
  {% if app.debug %}
        <script type="module" src="https://localhost:5173/@vite/client"></script>
        <script type="module" src="https://localhost:5173/src/main.js"></script>
    {% else %}
        <script type="module" src="/build/assets/main.js"></script>
        <link rel="stylesheet" href="/build/assets/main.css">
    {% endif %}

{% endblock %}
{% block body %}


    <div id="app"></div>

{% endblock %}
