

nav{
    min-width: 290px !important;
}


.scroll-gauche {
    direction: rtl; /* met la scrollbar à gauche */
    overflow-y: scroll;

    text-align: left; /* garde le texte aligné à gauche */
  }
  
  .scroll-gauche > * {
    direction: ltr; /* remet le contenu en lecture normale */
  }