<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Vue + Symfony{% endblock %}</title>
    <link rel="manifest" href="/spa/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css" />
<meta name="theme-color" content="#42b983" />

    {% block vite %}
      {% if app.debug %}
        <script type="module" src="/build/@vite/client"></script>
        <script type="module" src="/build/src/main.js"></script>
      {% else %}
        <script type="module" src="/build/assets/main-CHY1xWom.js"></script>
        <link rel="stylesheet" href="/build/assets/main-CFaeBMhn.css">
      {% endif %}
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
